.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 81px;
  max-width: 1470px;

.header-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
&-item{
    list-style-type: none;
    margin-left: 32px;
    &__link{
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #83888F;
      text-decoration: none;
    }
  }
}

// CSSda retina ekranlar uchun background image ni moslash
// @media
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (   min--moz-device-pixel-ratio: 2),
// only screen and (     -o-min-device-pixel-ratio: 2/1),
// only screen and (        min-device-pixel-ratio: 2),
// only screen and (                min-resolution: 192dpi),
// only screen and (                min-resolution: 2dppx) { 
  
//   /* Retina-specific stuff here */
// }
// @media only screen and (max-width:768px) {
//   .header{
//     padding: 40px 40px 53px;
//   }
// }

















