.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 81px;

.header-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
&-item{
    list-style-type: none;
margin: 0;
padding: 0;
text-decoration: none;
  }
}

















