.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 0;

  &__link:hover{
    opacity: 0.8;
  }

  
  &__img{
    display: block;
  }

  &__nav{
    display: flex;
  }
  &__menu{
    display: none;
  }
}